# To be changed to allennlp>=1.0 once that's released.
git+git://github.com/allenai/allennlp@fa14bd8c177a12709a2fac0616eafaa9ad430b0a

# Used to create grammars for parsing SQL
parsimonious>=0.8.0

# Used to format and postprocess SQL
sqlparse>=0.2.4

# Used to process tables in WikiTableQuestions
unidecode

# Used in KnowledgeGraphField
editdistance

# Used for the type system for some languages
nltk
