allennlp>=2.0,<3.0

spacy<4.0

# Used to create grammars for parsing SQL
parsimonious>=0.8.0

# Used to format and postprocess SQL
sqlparse>=0.2.4

# Used to process tables in WikiTableQuestions
unidecode

# Used in KnowledgeGraphField
editdistance

# Used for the type system for some languages
nltk

# Used for some tests
flaky
