# To be changed to allennlp>=1.0 once that's released.
git+git://github.com/allenai/allennlp@2e811b2796f77e9e796fc3a91f6618fdac68973b

# Used to create grammars for parsing SQL
parsimonious>=0.8.0

# Used to format and postprocess SQL
sqlparse>=0.2.4

# Used to process tables in WikiTableQuestions
unidecode

# Used in KnowledgeGraphField
editdistance
