name: CI
on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        version: 3.7
    - name: Install requirements
      run: |
        pip install -r requirements.txt
        pip install pytest pytest-cov flake8 black mypy
    - name: Run tests
      run: |
        pytest --cov=allennlp_semparse/ --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1.0.2
      with:
        token: ${{secrets.CODECOV_TOKEN}}
    - name: Lint
      run: |
        flake8 -v
        black -v --check .
    - name: Type check
      run: |
        mypy allennlp_semparse --ignore-missing-imports --no-strict-optional --no-site-packages
